<div class="row content-panel">
  <div class="col-sm-12">
    <h3>Escreva em português:</h3>

    <p
      ngbPopover="{{ phrase.phrasePT }}"
      triggers="mouseenter:mouseleave"
      placement="bottom"
    >
      {{ phrase.phraseEN }}
    </p>

    <div class="input-group">
      <textarea
        class="form-control"
        aria-label="With textarea"
        [(ngModel)]="answer"
      ></textarea>
    </div>
  </div>
</div>
<div class="row btn-panel">
  <div class="col-sm-12 btn-check">
    <button class="btn btn-primary" (click)="checkAnswer()">Verificar</button>
  </div>
</div>
